{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}
<style>
    
</style>

<div class="">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <a href="{{ path('app_client_add') }}">
        ajouter
    </a><br/>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>CIN</th>
                <th>modifier</th>
                <th>supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{client.nom}}</td>
                    <td>{{client.email}}</td>
                    <td>{{client.adresse}}</td>
                    <td>{{client.telephone}}</td>
                    <td>{{client.cin}}</td>
                    <th>
                        <a href="{{ path('app_client_update', {'id': client.id}) }}">
                            modifier
                        </a>
                    </th>
                    <th>
                        <button>
                            <a href="{{ path('app_client_delete', {'id': client.id}) }}" class="">
                                supprimer
                            </a>
                        </button>
                    </th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
